.container {
  width: 800px;
  height: 600px;
  margin: auto;
  vertical-align: middle;
}

canvas, .top, .bottom  {
  border: 1px solid #000;
}

#game {
  height: 100%;
}

.top {
  border-bottom: none;
}

.top, .bottom {
  display: block;
  padding: 10px;
  width: calc(100% - 20px);
}

#shapes-cast, .filter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex
}

.filter {
  margin-left: 25px;
}
